.adminBG{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.438), #740707, rgba(0, 0, 0, 0.397));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.adminBannerBG{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.658)), url('../../../assets/b.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 10px;
  color: white;
}