.contactBg{
    background: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.822)), url('../../../assets/call.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 120px;
    color: white;
}

@media screen and (max-width: 768px){
    .contactBg{
        padding: 50px 20px;
    }
}