.adminBG{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.438), #740707, rgba(0, 0, 0, 0.397));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.adminBannerBG{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.658)), url('../../../assets/b.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 10px;
  color: white;
}
.cardBorder::after{
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #ef3d32;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.cardBorder:hover::after{
  width: 100%;
}