.footerBg{
  background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(41, 40, 40, 0.637)), url(../../../assets/contactBg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}