.bannerBg{
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(41, 40, 40, 0.466)), url('../../../assets/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}