.cardBorder::after{
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #ef3d32;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.cardBorder:hover::after{
  width: 100%;
}